{% extends "users/base.html" %}
{% block title %}Balance Changes{% endblock title %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg border-0 rounded-lg" style="background-color: #44475a;">
                <div class="card-body">
                    <li class="list-group-item mb-3" style="background-color: #44475a; border-color: #44475a; position: relative;">
                        <form method="post" action="{% url 'users-clear_categories' %}" id="clear-categories-form" style="position: absolute; top: 0; right: 0;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Clear Categories</button>
                        </form>
                    </li>
                    <div class="col-md-20 text-center">
                        <h2 class="mb-3" style="color: #bd93f9;">Balance Changes</h2>
                    </div>
                    <ul class="list-group">
                        {% if balance_changes %}
                            <li class="list-group-item" style="background-color: #282a36; color: #f8f8f2;">
                                <form method="post" action="{% url 'users-clear_balance_changes' %}" id="clear-balance-form">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm float-right" id="clear-balance-button">Clear Balance History</button>
                                </form>
                            </li>
                            {% for change in balance_changes %}
                            <li class="list-group-item" style="background-color: #282a36; color: #f8f8f2;">
                                <p> Time: <span style="color: #55dbfd;"> {{ change.timestamp|date:"F j, Y, g:i a" }}</span></p>
                                <p>Description: <span style="color: #ff9900;">{{ change.description }}</span></p>
                                {% if change.amount > 0 %}
                                    <p>Amount: <span style="color: #41ff00;">${{ change.amount }}</span></p>
                                {% else %}
                                    <p>Amount: <span style="color: #ff0000;">${{ change.amount }}</span></p>
                                {% endif %}
                                <p>Category: <span style="color: #9559ff;">{{ change.category }}</span></p>
                            </li>
                            {% endfor %}
                        {% else %}
                        <p class="text-center" style="color: #f8f8f2;">No balance changes yet.</p>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("clear-balance-form").addEventListener("submit", function(event) {
        if (!confirm("Do you really want to clear the balance history?")) {
            event.preventDefault();
        }
    });
    document.getElementById("clear-categories-form").addEventListener("click", function(event) {
        if (!confirm("Do you really want to clear all categories?")) {
            event.preventDefault();
        }
    });
</script>
{% endblock content %}
