{% extends "users/wallet_base.html" %}
{% block wallet_content %}
<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="card shadow-lg border-0 rounded-lg" style="background-color: #44475a;">
            <div class="card-body">
                <div class="col-md-20 text-center">
                    <h2 class="mb-3" style="color: #bd93f9;">Balance Changes</h2>
                </div>
                <form method="get" class="mb-3">
                    <div class="form-group row justify-content-center">
                        <div class="col-auto my-2">
                            <select id="sort_by" name="sort_by" class="form-control">
                                <option value="SelectSort" {% if sort_by == 'SelectSort' %}selected{% endif %}>Select Sort Option</option>
                                <option value="AscendingCost" {% if sort_by == 'AscendingCost' %}selected{% endif %}>Ascending Cost</option>
                                <option value="DescendingCost" {% if sort_by == 'DescendingCost' %}selected{% endif %}>Descending Cost</option>
                                <option value="DateOldestFirst" {% if sort_by == 'DateOldestFirst' %}selected{% endif %}>Date Oldest First</option>
                                <option value="DateNewestFirst" {% if sort_by == 'DateNewestFirst' %}selected{% endif %}>Date Newest First</option>
                                <option value="AscendingCategoryName" {% if sort_by == 'AscendingCategoryName' %}selected{% endif %}>Ascending Category Name</option>
                                <option value="DescendingCategoryName" {% if sort_by == 'DescendingCategoryName' %}selected{% endif %}>Descending Category Name</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-danger my-2" id="reset-button">Reset</button>
                    </div>
                    <div id="category-filter" class="form-group" style="display: {{ category_filter_display }};">
                        <div style="flex: 1;">
                            <select class="form-control" id="category" name="selected_category">
                                <option value="">Select Category</option>
                                {% for category in categories %}
                                    <option value="{{ category.name }}" {% if selected_category == category.name %}selected{% endif %}>{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div id="amount-filter" class="form-group"  style="display: {{ amount_filter_display }};">
                        <div class="form-group row">
                            <div class="col">
                                <input type="number" class="form-control" id="min_amount" name="min_amount" placeholder="Minimum Amount" value="{% if min_amount %}{{ min_amount }}{% endif %}">
                            </div>
                            <div class="col">
                                <input type="number" class="form-control" id="max_amount" name="max_amount" placeholder="Maximum Amount" value="{% if max_amount %}{{ max_amount }}{% endif %}">
                            </div>
                        </div>
                    </div>
                    <div id="date-filter" class="form-group"  style="display: {{ date_filter_display }};">
                        <div class="form-group row">
                            <div class="col">
                                <select class="form-control" id="year" name="year">
                                    <option value="">Select Year</option>
                                    {% for y in years %}
                                        <option value="{{ y }}" {% if year == y|stringformat:"s" %}selected{% endif %}>{{ y }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-control" id="month" name="month">
                                    <option value="">Select Month</option>
                                    {% for m in months %}
                                        <option value="{{ m }}" {% if month == m|stringformat:"s" %}selected{% endif %}>{{ m }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-control" id="day" name="day">
                                    <option value="">Select Day</option>
                                    {% for d in days %}
                                        <option value="{{ d }}" {% if day == d|stringformat:"s" %}selected{% endif %}>{{ d }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-control" id="day_name" name="day_name">
                                    <option value="">Select Day Name</option>
                                    {% for dn in day_names %}
                                        <option value="{{ dn }}" {% if day_name == dn %}selected{% endif %}>{{ dn }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto text-center">
                        <button type="submit" class="btn btn-dark" id="check_button">Check</button>
                    </div>
                </form>
                <ul class="list-group">
                    {% if page_obj %}
                        {% for change in page_obj %}
                        <li class="list-group-item" style="background-color: #282a36; color: #f8f8f2;">
                            <p> Time: <span style="color: #55dbfd;"> {{ change.timestamp|date:"F j, Y, g:i a" }}</span></p>
                            <p>Description: <span style="color: #ff9900;">{{ change.description }}</span></p>
                            {% if change.amount > 0 %}
                                <p>Amount: <span style="color: #41ff00;">${{ change.amount }}</span></p>
                            {% else %}
                                <p>Amount: <span style="color: #ff0000;">${{ change.amount }}</span></p>
                            {% endif %}
                            <p>Category: <span style="color: #9559ff;">{{ change.category }}</span></p>
                            <button type="button" class="btn btn-primary edit-button" data-id="{{ change.id }}" data-description="{{ change.description }}" data-amount="{{ change.amount }}" data-category="{{ change.category }}" data-toggle="modal" data-target="#editModal">Edit</button>
                            <button type="button" class="btn btn-danger delete-button" data-id="{{ change.id }}" data-toggle="modal" data-target="#deleteModal">Delete</button>
                        </li>
                        {% endfor %}
                    {% else %}
                    <p class="text-center" style="color: #f8f8f2;">No balance changes yet.</p>
                    {% endif %}
                </ul>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-between align-items-center">
                    <form method="post" action="{% url 'users-clear_balance_changes' %}" id="clear-balance-form">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Clear Balance History</button>
                    </form>
                    <div>
                        {% if page_obj.has_previous %}
                            <a href="?sort_by={{ sort_by }}&page={{ page_obj.previous_page_number }}&selected_category={{ selected_category }}&min_amount={{ min_amount }}&max_amount={{ max_amount }}&year={{ year }}&month={{ month }}&day={{ day }}" class="btn btn-dark">Previous</a>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <a href="?sort_by={{ sort_by }}&page={{ page_obj.next_page_number }}&selected_category={{ selected_category }}&min_amount={{ min_amount }}&max_amount={{ max_amount }}&year={{ year }}&month={{ month }}&day={{ day }}" class="btn btn-dark">Next</a>
                        {% endif %}
                        <span class="text-muted mx-2">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: #44475a;">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel" style="color: #bd93f9;">Edit Balance Change</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: #f8f8f2;">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editForm" method="post" action="{% url 'users-edit_balance_change' %}">
                    {% csrf_token %}
                    <input type="hidden" id="edit-id" name="edit-id">
                    <div class="form-group">
                        <label for="edit-description" style="color: #f8f8f2;">Description</label>
                        <input type="text" class="form-control" id="edit-description" name="edit-description">
                    </div>
                    <div class="form-group">
                        <label for="edit-amount" style="color: #f8f8f2;">Amount</label>
                        <input type="number" class="form-control" id="edit-amount" name="edit-amount" readonly style="background-color: #44475a; color: #f8f8f2; border: 1px solid #bd93f9;">
                    </div>
                    <div class="form-group">
                        <label for="edit-category" style="color: #f8f8f2;">Category</label>
                        <select class="form-control" id="edit-category" name="edit-category">
                            {% for category in categories %}
                                <option value="{{ category.name }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: #44475a;">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel" style="color: #bd93f9;">Delete Balance Change</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: #f8f8f2;">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="color: #f8f8f2;">Are you sure you want to delete this balance change?</p>
                <form id="deleteForm" method="post" action="{% url 'users-delete_balance_change' %}">
                    {% csrf_token %}
                    <input type="hidden" id="delete-id" name="delete-id">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("clear-balance-form").addEventListener("submit", function(event) {
        if (!confirm("Do you really want to clear the balance history?")) {
            event.preventDefault();
        }
    });

    document.getElementById("reset-button").addEventListener("click", function() {
        document.getElementById("sort_by").selectedIndex = 0;
        document.getElementById("category").selectedIndex = 0;
        document.getElementById("min_amount").value = "";
        document.getElementById("max_amount").value = "";
        document.getElementById("year").selectedIndex = 0;
        document.getElementById("month").selectedIndex = 0;
        document.getElementById("day").selectedIndex = 0;
        document.getElementById("day_name").selectedIndex = 0;

        window.location.href = "{% url 'users-balance_changes' %}";
    });

    document.querySelectorAll('.edit-button').forEach(button => {
        button.addEventListener('click', function() {
            document.getElementById('edit-id').value = this.getAttribute('data-id');
            document.getElementById('edit-description').value = this.getAttribute('data-description');
            document.getElementById('edit-amount').value = this.getAttribute('data-amount');
            document.getElementById('edit-category').value = this.getAttribute('data-category');
        });
    });

    document.querySelectorAll('.delete-button').forEach(button => {
        button.addEventListener('click', function() {
            document.getElementById('delete-id').value = this.getAttribute('data-id');
        });
    });
</script>
{% endblock wallet_content %}
