{% extends "users/wallet_base.html" %}
{% block wallet_content %}
<div class="card shadow-lg border-0 rounded-lg" style="background-color: #44475a;">
    <div class="card-body">
        <div class="form-group mb-3 d-flex flex-wrap align-items-start justify-content-center" style="margin-top: 20px;">
            <label for="chartTypeSelect" class="form-label" style="color: #f8f8f2; margin-bottom: 10px; margin-right: 10px; margin-left: 10px;">Select Chart Type:</label>
            <select id="chartTypeSelect" class="form-select mx-2 mb-2 mb-sm-0" style="background-color: #282a36; color: #f8f8f2; border: 1px solid #6272a4;">
                <option value="bar">Bar Chart</option>
                <option value="line">Line Chart</option>
                <option value="pie">Pie Chart</option>
            </select>
            <label for="yearSelect1" class="form-label" style="color: #f8f8f2; margin-bottom: 10px; margin-right: 10px;">Select Year:</label>
            <select id="yearSelect1" class="form-select mx-2 mb-2 mb-sm-0" style="background-color: #282a36; color: #f8f8f2; border: 1px solid #6272a4;">
                {% for year in years %}
                <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
            <label for="categorySelect" class="form-label" style="color: #f8f8f2; margin-bottom: 10px; margin-right: 10px;">Select Category:</label>
            <select id="categorySelect" class="form-select mx-2 mb-2 mb-sm-0" style="background-color: #282a36; color: #f8f8f2; border: 1px solid #6272a4;">
                {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group mb-3 d-flex flex-wrap align-items-start justify-content-center" style="margin-top: 20px;">
            <button type="submit" class="btn btn-dark mb-2 mb-sm-0 align-self-end" id="check_button">Check</button>
        </div>





        <canvas id="monthlyChart" width="400" height="200"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('monthlyChart').getContext('2d');
        var data = {{ data|safe }};
        var currentType = 'bar';
        var myChart;

        var chartConfig = {
            type: currentType,
            data: {
                labels: data.months,
                datasets: [
                    {
                        label: 'Monthly Income',
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1,
                        data: data.income_data
                    },
                    {
                        label: 'Monthly Expense',
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1,
                        data: data.expense_data.map(value => -Math.abs(value))
                    }
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        grid: {
                            display: true,
                            zeroLineColor: 'rgba(255,255,255,0.6)'
                        }
                    },
                    x: {
                        stacked: true
                    },
                    y: {
                        stacked: true
                    }
                }
            }
        };

        function updateChart() {
            chartConfig.type = currentType;
            chartConfig.data.datasets[0].data = data.income_data;
            chartConfig.data.datasets[1].data = data.expense_data.map(value => -Math.abs(value));
            myChart.destroy();
            if (currentType !== 'pie') {
                chartConfig.options.scales.x.stacked = true;
                chartConfig.options.scales.y.stacked = true;
                myChart = new Chart(ctx, chartConfig);
            } else {
                myChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: data.months,
                        datasets: [{
                            label: 'Monthly Data',
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)',
                                'rgba(255, 99, 132, 0.4)',
                                'rgba(54, 162, 235, 0.4)',
                                'rgba(255, 206, 86, 0.4)',
                                'rgba(75, 192, 192, 0.4)',
                                'rgba(153, 102, 255, 0.4)',
                                'rgba(255, 159, 64, 0.4)',
                                'rgba(255, 99, 132, 0.6)',
                                'rgba(54, 162, 235, 0.6)',
                                'rgba(255, 206, 86, 0.6)',
                                'rgba(75, 192, 192, 0.6)',
                                'rgba(153, 102, 255, 0.6)',
                                'rgba(255, 159, 64, 0.6)',
                                'rgba(255, 99, 132, 0.8)',
                                'rgba(54, 162, 235, 0.8)',
                                'rgba(255, 206, 86, 0.8)',
                                'rgba(75, 192, 192, 0.8)',
                                'rgba(153, 102, 255, 0.8)',
                                'rgba(255, 159, 64, 0.8)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(255, 99, 132, 1)'
                            ],
                            borderWidth: 1,
                            data: data.income_data.concat(data.expense_data.map(value => -Math.abs(value)))
                        }]
                    },
                    options: {
                        aspectRatio: 2,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }
        }

        myChart = new Chart(ctx, chartConfig);

        document.getElementById('chartTypeSelect').addEventListener('change', function () {
            currentType = this.value;
            updateChart();
        });

        document.getElementById('yearSelect').addEventListener('change', function () {
            var selectedYear = this.value;
            fetch('/get_data_for_year/' + selectedYear)
                .then(response => response.json())
                .then(newData => {
                    data = newData;
                    updateChart();
                });
        });
    });
</script>
{% endblock wallet_content %}
