{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron" style="background-color: #282a36; color: #f8f8f2;">
        <h1 class="display-4">Welcome, {{user.first_name|default:'Guest'}}</h1>
        <p class="lead">
            Efficiently manage <b>your finances</b> with a comprehensive array of account management features.
        </p>
        <hr class="my-4" style="background-color: #44475a;">
        <p class="lead">
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button" style="background-color: #ff79c6; border-color: #ff79c6;">Logout</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button" style="background-color: #bd93f9; border-color: #bd93f9;">Sign in</a>
            {% endif %}
        </p>
    </div>

{% endblock content %}
