{% extends "users/base.html" %}
{% block title %}Logout{% endblock title %}
{% block content %}
    <div class="card" style="width: 18rem; background-color: #282a36; color: #f8f8f2;">
        <div class="card-body">
        <h5 class="card-title" style="color: #bd93f9;">You have been logged out</h5>
        <p class="card-text">
            Thanks for your time, contact me for any comments or suggestions using my email address.
        </p>
        <br><hr><a href="{% url 'login' %}" class="btn btn-primary" style="background-color: #6272a4; border-color: #6272a4;">Sign in again</a>
        </div>
    </div>
{% endblock content %}
