{% extends "users/base.html" %}
{% block title %}Logout{% endblock title %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="min-height: 50vh;">
        <div class="col-md-6">
            <div class="card" style="background-color: #282a36; color: #f8f8f2; border-color: #747797">
                <div class="card-body">
                    <h5 class="card-title" style="color: #bd93f9;">You have been logged out</h5>
                    <p class="card-text" style="border-color: #747797">
                        Thanks for your time, contact me for any comments or suggestions using my email address.
                    </p>
                    <hr>
                    <a href="{% url 'login' %}" class="btn btn-primary" style="background-color: #6272a4; border-color: #6272a4;">Sign in again</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
