{% extends "users/base.html" %}
{% block content %}
    <div class="container my-3 p-3" style="background-color: #282a36; color: #f8f8f2;">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3" style="background-color: #44475a;">
                    <div class="alert alert-info" style="background-color: #6272a4; color: #f8f8f2;">
                        Your password has been set. You may go ahead and <a href="{% url 'login' %}" style="color: #8be9fd;">Login Here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
