{% extends "users/base.html" %}
{% block title %} Wallet Stats {% endblock title%}
{% block content %}
<div class="card shadow-lg border-0 rounded-lg" style="background-color: #44475a; margin-top: 20px;">
    <div class="card-body" style="padding-bottom: 20px;">
        <h2 style="text-align: center; color: #ff7337;">All Wallets Balance Overview</h2>
        <div>
            <label for="currencySelect">Select Currency:</label>
            <select id="currencySelect">
                <option value="PLN" {% if selected_currency == "PLN" %}selected{% endif %}>PLN</option>
                <option value="USD" {% if selected_currency == "USD" %}selected{% endif %}>USD</option>
                <option value="EUR" {% if selected_currency == "EUR" %}selected{% endif %}>EUR</option>
                <option value="GBP" {% if selected_currency == "GBP" %}selected{% endif %}>GBP</option>
            </select>
        </div>
        <canvas id="walletPieChart" width="400" height="200"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    var data = {{ data|safe }};
    var ctx = document.getElementById('walletPieChart').getContext('2d');

    var pieData = {
        labels: data.wallet_names,
        datasets: [{
            label: 'Wallet Amount (PLN)',
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',   // Red
                'rgba(54, 162, 235, 0.2)',   // Blue
                'rgba(255, 206, 86, 0.2)',   // Yellow
                'rgba(75, 192, 192, 0.2)',   // Teal
                'rgba(153, 102, 255, 0.2)',  // Purple
                'rgba(255, 159, 64, 0.2)',   // Orange
                'rgba(0, 128, 0, 0.2)',      // Green
                'rgba(255, 0, 255, 0.2)',    // Magenta
                'rgba(128, 128, 0, 0.2)',    // Olive
                'rgba(128, 0, 128, 0.2)',    // Purple
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',    // Red
                'rgba(54, 162, 235, 1)',    // Blue
                'rgba(255, 206, 86, 1)',    // Yellow
                'rgba(75, 192, 192, 1)',    // Teal
                'rgba(153, 102, 255, 1)',   // Purple
                'rgba(255, 159, 64, 1)',    // Orange
                'rgba(0, 128, 0, 1)',       // Green
                'rgba(255, 0, 255, 1)',     // Magenta
                'rgba(128, 128, 0, 1)',     // Olive
                'rgba(128, 0, 128, 1)',     // Purple
            ],
            borderWidth: 1,
            data: data.wallet_amounts
        }]
    };

    var walletPieChart = new Chart(ctx, {
        type: 'pie',
        data: pieData,
        options: {
            aspectRatio: 4,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        },
        title: {
            display: true,
            text: 'Wallet Balance (PLN)',
            fontSize: 18
        }
    });
    document.getElementById('currencySelect').addEventListener('change', function () {
            var currencySelect = this.value;
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = "{% url 'users-wallets_pie_chart' %}";

            var csrfInput = document.createElement('input');
            csrfInput.type = 'hidden';
            csrfInput.name = 'csrfmiddlewaretoken';
            csrfInput.value = '{{ csrf_token }}';

            var currencyInput = document.createElement('input');
            currencyInput.type = 'hidden';
            currencyInput.name = 'currencySelect';
            currencyInput.value = currencySelect;
        
            form.appendChild(csrfInput);
            form.appendChild(currencyInput);

            document.body.appendChild(form);
            form.submit();
        });
});
</script>
{% endblock content %}