<!-- wallet.html -->
{% extends "users/base.html" %}
{% block title %}Wallet Page{% endblock title %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg border-0 rounded-lg" style="background-color: #44475a;">
                <div class="card-body">
                    <h2 class="text-center mb-4" style="color: #bd93f9;">Wallet</h2>
                    <p class="text-center mb-4"> Current Balance: <span style="color: #41ff00;">${{ balance }}</span></p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="amount" style="color: #f8f8f2;">Amount</label>
                            <input type="number" class="form-control" id="amount" name="amount" step="0.01" style="background-color: #282a36; color: #f8f8f2;" required>
                        </div>
                        <div class="form-group">
                            <label for="description" style="color: #f8f8f2;">Description</label>
                            <input type="text" class="form-control" id="description" name="description" style="background-color: #282a36; color: #f8f8f2;" required>
                        </div>
                        <div class="form-group">
                            <label for="category" style="color: #f8f8f2;">Category</label>
                            <select class="form-control" id="category" name="category">
                                <option value="">Select Category</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                                <option value="new_category">Add New Category</option>
                            </select>
                        </div>
                        <div id="new-category-field" class="form-group" style="display: none;">
                            <label for="new_category" style="color: #f8f8f2;">New Category</label>
                            <input type="text" class="form-control" id="new_category" name="new_category" style="background-color: #282a36; color: #f8f8f2;">
                        </div>
                        <button type="submit" class="btn btn-dark btn-block">Update Funds</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg border-0 rounded-lg" style="background-color: #44475a;">
                <div class="card-body">
                    <h2 class="text-center mb-4" style="color: #bd93f9;">Balance Changes</h2>
                    <ul class="list-group">
                        {% if balance_changes %}
                            <li class="list-group-item" style="background-color: #282a36; color: #f8f8f2;">
                                <form method="post" action="{% url 'clear_balance_changes' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm float-right">Clear Balance History</button>
                                </form>
                            </li>
                            {% for change in balance_changes %}
                            <li class="list-group-item" style="background-color: #282a36; color: #f8f8f2;">
                                <p> Time: <span style="color: #55dbfd;"> {{ change.timestamp|date:"F j, Y, g:i a" }}</span></p>
                                <p>Description: <span style="color: #ff9900;">{{ change.description }}</span></p>
                                {% if change.amount > 0 %}
                                    <p>Amount: <span style="color: #41ff00;">${{ change.amount }}</span></p>
                                {% else %}
                                    <p>Amount: <span style="color: #ff0000;">${{ change.amount }}</span></p>
                                {% endif %}
                                <p>Category: <span style="color: #9559ff;">{{ change.category }}</span></p>
                            </li>
                            {% endfor %}
                        {% else %}
                        <p class="text-center" style="color: #f8f8f2;">No balance changes yet.</p>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("category").addEventListener("change", function() {
        var category = document.getElementById("category").value;
        if (category == "new_category") {
            document.getElementById("new-category-field").style.display = "block";
        } else {
            document.getElementById("new-category-field").style.display = "none";
        }
    });
</script>
{% endblock content %}
